*.DS_Store
!/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.pyc
.mypy_cache
.ropeproject

# LSP Config Files
.codebook.toml
.markdownlint.json

# Dev Settings & Caches
.vscode
.ruff_cache

# Jupyter Notebook
.ipynb_checkpoints

# Quarto
.quarto/
/.quarto/
**/*.quarto_ipynb

# IPython
profile_default/
ipython_config.py

__pypackages__/

# Environments
.env
.venv

# Unredacted Statements
tools/raw-data/original-statements/*
